<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      
      <!-- The path to the logging config item in the sitecore item tree. .
           NOTE: The item's settings will override this config file!
           Leave empty if you don't want runtime configuration -->
      <setting name="Namics.Debug.ConfigItemPath" value="" />

      <!-- Log level of Application specific logging.
         Hierarchy:
         NONE
         AUDIT
         FATAL
         ERROR
         WARN
         INFO
         DEBUG
      -->
      <setting name="Namics.Debug.LogLevel" value="DEBUG" />

      <!-- A List of Processors which will be invoked on logging an entry. It is possible to write an own processor
          i.E. for logging to a different target. Multiple Processors are separated by a Pipe | -->
      <setting name="Namics.Debug.LogProcessors" value="
               Namics.Foundation.Logger.Processors.SitecoreLog.SitecoreLogProcessor|
               Namics.Foundation.Logger.Processors.BrowserConsoleLog.BrowserConsoleLogProcessor"/>

      <!-- Sets the IP that is allowed to receive Log messages over the browser console log.
           Also, only a prefix of an ip can be set here i.E. "192.168.". This will allow all IPs beginning with 192.168.
           Too allow none, leave empty. To allow all, use "ALL"
           Multiple IPs or prefixes can be used by separating them with a Pipe |
      -->
      <setting name="Namics.Debug.Console.AllowedIp" value="127.0.0.1" />

    </settings>
  </sitecore>
</configuration>